//=====================================================
// Variables
//=====================================================
$color-white: #FFF9FB;
$color-accent: #4B3F72;
$color-black: #252627;
$color-neutral: #D3D4D9;

$font-display: 'MedievalSharp', cursive;
//=====================================================
// Survey Page
//=====================================================
.survey {
    background-color: $color-neutral;
    .btn { background-color: $color-accent; color: $color-neutral; border: none; border-radius: 2px; }
    h1.title { margin: 2rem 1rem 2rem 0; display: inline-block; }
}
.form-group {
    margin: 3rem 0; 
    p { font-size: 1.5rem; }
    label { font-size: 1.2rem; margin-top: 1rem; }
}

//=====================================================
// Modal styles
//=====================================================
div#match-modal {
    display: none;
    width: 60%;
    z-index: 1;
    position: fixed;
    top: 10%;
    left: 20%;
    max-height: 40vh;
    text-align: center;
    div.modal-content { padding: 2rem; }
    img#match-pic { max-width: 35%; }
}



@import "animations",
        "home"
;